@charset "utf-8";

body, h1, h2, ul, li, p { padding: 0; margin: 0; }
a { text-decoration: none; color: #333; }
.clear::after { content: ""; display: block; clear: both; }



.title { margin-bottom: 10px; }
.menu { background-color: #eee; height: 40px; border-radius: 10px; margin-bottom: 20px; }
.menu .main_menu { list-style: none; margin-left: 50px; line-height: 40px; }
.menu .main_menu>li { float: left; font-size: 18px; padding-right: 100px; width: 100px; position: relative; }
.menu .main_menu>li:hover .sub_menu { display: block; }

.sub_menu { list-style: none; position: absolute; left: 0; top: 40px; 
            background-color: #333; display: none; width: 100%; box-sizing: border-box; 
            opacity: 0.7;}
.sub_menu li:hover { background-color: #ddd; }
.sub_menu li a { color: #fff; }
.sub_menu li:hover a { color: #000; }


#content { margin-bottom: 20px; padding: 0 10px; }
#content section { float: left; width: 1000px;}
.sub_title { margin-bottom: 10px; }
section p { width: 480px; float: left; line-height: 1.6; margin-bottom: 20px; }

.side_menu { width: 300px; float: right; background-color: #ddd; height: 500px; }
.side_menu ul { width: 260px; box-sizing: border-box; margin: 20px auto;
                height: 135px; padding: 20px 30px; background-color: #eee; border-radius: 10px;}
.side_menu ul li { line-height: 1.6; border-bottom: 1px solid #ddd; }

footer { height: 80px; background-color: #333; }
footer p { color: #ddd; text-align: center; line-height: 80px; }