@charset "utf-8";

/* PC + 공통사항 */
#wrap { line-height: 1.6; }

header {  border-top: 8px solid #1b1b1b;  }
header .inner { margin: 20px auto 60px; max-width: 1200px;  display: flex;  
            flex-flow: row nowrap; justify-content: space-between; align-items: center;
        }
header .logo { font-size: 24px; letter-spacing: 1px; flex: 1 1 0; }
header .logo a { color: #1b1b1b; }
header nav { flex: 2 2 0; }
.gnb { display: flex; flex-flow: row wrap; }
.gnb li { flex: 1 1 auto; font-size: 16px; text-align: left; border-bottom: 1px solid #bfbfbf; 
            padding: 0 0 7px 0; line-height: 1; font-weight: bold; margin-right: 10px;
}
.gnb li:last-child{ margin-right: 0; }
.gnb li:hover { border-bottom-color: #1b1b1b; }
.gnb li:hover a { text-decoration: none; }
.gnb li a { color: #1b1b1b; }
.toggle { display: none; position: absolute; top: 27px; right: 4%; font-size: 24px; }

#content { max-width: 1600px; margin: 0 auto; } /* 화면너비가 1600px이상이면 1600px값으로 출력, 이하면 100%로 출력 */
.list { display: flex; flex-flow: row wrap; }
.list li { width: 33.3333%; }
.list li a { display: block; width: 100%; position: relative; transition: .5s; }
.list li:nth-child(1) a { background-color: #969696; }
.list li:nth-child(1) a:hover { background-color: #f6335a; }
.list li:nth-child(2) a { background-color: #848484; }
.list li:nth-child(2) a:hover { background-color: #0af59b; }
.list li:nth-child(3) a { background-color: #929292; }
.list li:nth-child(3) a:hover { background-color: #ffdf3a; }
.list li:nth-child(4) a { background-color: #bfbfbf; }
.list li:nth-child(4) a:hover { background-color: #88a0f7; }
.list li:nth-child(5) a { background-color: #929292; }
.list li:nth-child(5) a:hover { background-color: #2b9cf6; }
.list li:nth-child(6) a { background-color: #aaa; }
.list li:nth-child(6) a:hover { background-color: #f6745e; }
.list li a img { width: 100%; }
.list li a strong { position: absolute; font-size: 48px; color: #fff; left: 50%; top: 50%; 
                    transform: translate(-50%, -50%); opacity: 0; transition: opacity .5s;
}
.list li a:hover strong { opacity: 1; }

footer { max-width: 1200px; margin: 50px auto 0; display: flex; flex-flow: row nowrap; 
            justify-content: space-around;
}
footer>div { width: 22%; box-sizing: border-box; padding: 30px 0 40px; margin-right: 2%;
            border-top: 1px solid #bfbfbf; 
}
.btm_logo  { font-size: 18px; font-weight: bold;}
.btm_logo a { color: #b1b1b1; }
.btm_logo a:hover { color: #555; }
.address { font-size: 16px; }
.address p { width: 80%; }
.email { font-size: 16px; }
.email a { color: #1b1b1b; text-decoration: underline; }
.icon { display: flex; flex-flow: row nowrap; justify-content: flex-end; }
.icon a:hover { text-decoration: none; }
.icon a::after { display: block; width: 50px; height: 50px; background-color: #ccc; 
                    border-radius: 50%; text-align: center; line-height: 50px;
}
.icon .twitter { margin-right: 10px; }
.icon .twitter a::after { content: "\f099"; font-family: "Font Awesome 5 Brands"; 
                            font-weight: 900px; font-size: 24px; color: #555;
                        }
.icon .github {  }
.icon .github a::after { content: "\f09b"; font-family: "Font Awesome 5 Brands"; 
                        font-weight: 900px; font-size: 24px; color: #555;
                        }

/* 680 이하 테블릿 */
@media screen and (max-width: 680px) {
    header .inner { display: flex; flex-flow: column nowrap; 
                    align-items: flex-start; justify-content: center;
                    padding: 0 3%;
            }
    header .logo { margin-bottom: 15px; }
    header nav { width: 100%; }
    .gnb { flex-flow: row nowrap; }
    .gnb li { width: 23.5%; justify-content: space-between; box-sizing: border-box; }

    .list li { width: 50%; }

    footer { flex-flow: column nowrap; padding-bottom: 30px; }
    footer>div { width: 100%;  padding: 20px 3% 0; margin-right: 0;
                border-top: none; }
    .icon { justify-content: flex-start;  }
    
}

/* 480 이하 모바일 */
@media screen and (max-width: 480px) {
    header .inner { margin: 20px auto 10px; }
    .toggle { display: block; }
    .list li { width: 100%; }
    
    header nav { position: absolute; top: 90px; left: 0; width: 100%; z-index: 999; height: 0; transition: height .5s; 
                    overflow: hidden;
    }
    .gnb { flex-flow: column nowrap; }
    nav.on { height: 180px; }
    .gnb li { width: 100%; justify-content: center; background-color: rgba(27,27,27,0.8); 
                border-bottom: 1px solid #555; width: 100%; padding: 14px;
    }
    .gnb li a { color: #fff; }
    .gnb li:hover { border-bottom: 1px solid #555; background-color: rgba(38, 38, 38, 0.8); }
    
}